<div class="container-fluid list">
    <div class="container">
        <h3>LIST OF ALL CUSTOMERS</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">LIST OF CUSTOMERS INFORMATION</div>
                    <div class="panel-body">
                        <div class="table-wrapper">
                            <table class="table table-striped table-hover table-responsive" id="customers">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>FULLNAME</td>
                                        <td>PROF/BUSINESS</td>
                                        <td>SIZE</td>
                                        <td>COLOR</td>
                                        <td>ADDRESS</td>
                                        <td>CONTACT</td>
                                        <td>ACTIONS</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if(!empty($customers)): ?>
                                        <?php foreach($customers as $row => $value): ?>
                                            <tr>
                                                <td>
                                                    <?= $value->id; ?>
                                                </td>
                                                <td>
                                                    <?= $value->name; ?>
                                                </td>
                                                <td>
                                                    <?= $value->profession_business; ?>
                                                </td>
                                                <td><?= $value->size; ?></td>
                                                <td>
                                                    <?= $value->color; ?>
                                                </td>
                                                <td><?= $value->address; ?></td>
                                                <td><?= $value->contact; ?></td>
                                                <td>
                                                    <a href="<?= base_url(); ?>page/form/update-customer.html/<?= $value->id; ?>/update-info" id="<?= $value->id; ?>" class="btn btn-warning btn-xs edit"><i class="fa fa-edit"></i> Edit</a>
                                                    <!-- <button id="<?= $value->id; ?>" class="btn btn-danger btn-xs del" style="margin-left: -2px">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button> -->
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#customers').DataTable();
    })
</script>