@import url(../../assets/Fonts/WebFonts/style.css);
* {
  padding: 0;
  margin: 0; }

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #F5F5F5;
  border-radius: 0px; }

html::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

html::-webkit-scrollbar-thumb {
  background-color: #999998;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  border-radius: 1px; }

body {
  background-color: #263238; }

.banner {
  background-color: #263238;
  padding: 2rem 0 20rem 0; }

.diamond-wrapper {
  align-content: center;
  align-items: center;
  margin-top: 100px;
  position: relative;
  background-color: #263238; }

.diamond {
  position: relative;
  top: 0;
  left: 0;
  border: 4px solid #f59c30;
  height: 50%;
  width: 50%;
  padding: 24% 10%;
  transform: rotate(-45deg); }
  .diamond::before {
    content: "";
    position: absolute;
    top: -10rem;
    right: 15rem;
    border: 4px solid #f59c30;
    height: 50%;
    width: 50%;
    padding: 44% 50%;
    z-index: -1; }
  .diamond::after {
    content: "";
    position: absolute;
    top: 10rem;
    right: 22rem;
    border: 4px solid #f59c30;
    height: 50%;
    width: 50%;
    padding: 25% 30%;
    z-index: 2; }

.navbar {
  padding: 0; }
  .navbar .container {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    height: 60px; }

.navbar-header {
  width: 100%; }

.navbar-brand {
  position: relative;
  top: -0.5rem;
  letter-spacing: 0.07rem;
  font-weight: bold;
  font-family: 'Montserrat';
  color: #37c1eb;
  float: left;
  z-index: 1; }
  .navbar-brand:hover {
    color: #37c1eb; }
  .navbar-brand:focus {
    color: #37c1eb; }

.navbar-toggler {
  position: relative !important;
  top: -0.1rem;
  left: 0.1rem;
  float: right !important;
  height: 43px;
  width: 43px;
  border-radius: 50% !important;
  border: 0px;
  background-color: #37c1eb;
  padding: 0px 5px;
  outline: none !important;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 1000; }
  .navbar-toggler:hover {
    background-color: #31B0D5;
    border-radius: 50%; }
    .navbar-toggler:hover::before {
      content: 'MENU';
      top: 0.7rem;
      right: 5.1rem;
      position: absolute;
      background-color: #31B0D5;
      color: #fff;
      text-align: center;
      padding: 6px 7px 5px 7px;
      font-size: 12px;
      border-radius: 3px;
      box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
      z-index: 100; }
    .navbar-toggler:hover::after {
      content: '';
      position: absolute;
      top: 1.7rem;
      left: -1.3rem;
      height: 8px;
      width: 8px;
      padding: 3px 3px;
      background-color: #31B0D5;
      transform: rotate(-45deg);
      z-index: 101; }

.navbar-toggler.rotate-towards .icon-bar:nth-child(1) {
  transform: rotate(-315deg) !important;
  transition: transform;
  transition-delay: 0.8ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.navbar-toggler.rotate-towards .icon-bar:nth-child(2) {
  transform: rotate(-44deg) !important;
  transition: transform;
  transition-delay: 0.8ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.navbar-toggler.rotate-towards .icon-bar:nth-child(3) {
  transform: rotate(405deg) !important;
  transition: transform;
  transition-delay: 0.8ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.navbar-toggler.rotate-towards:hover {
  background-color: #31B0D5;
  border-radius: 50%; }
  .navbar-toggler.rotate-towards:hover::before {
    content: 'CLOSE';
    top: 0.7rem;
    right: 5.1rem;
    position: absolute;
    background-color: #31B0D5;
    color: #fff;
    text-align: center;
    padding: 6px 7px 5px 7px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 100; }
  .navbar-toggler.rotate-towards:hover::after {
    content: '';
    position: absolute;
    top: 1.7rem;
    left: -1.3rem;
    height: 8px;
    width: 8px;
    padding: 3px 3px;
    background-color: #31B0D5;
    transform: rotate(-45deg);
    z-index: 101; }

.navbar-toggler.rotate-backwards .icon-bar:nth-child(1) {
  transform: rotate(0deg) !important;
  transition: transform;
  transition-delay: 0.8ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.navbar-toggler.rotate-backwards .icon-bar:nth-child(2) {
  transform: rotate(0deg) !important;
  transition: transform;
  transition-delay: 0.8ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.navbar-toggler.rotate-backwards .icon-bar:nth-child(3) {
  transform: rotate(0deg) !important;
  transition: transform;
  transition-delay: 0.8ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.navbar-toggler.rotate-backwards:hover {
  background-color: #31B0D5;
  border-radius: 50%; }
  .navbar-toggler.rotate-backwards:hover::before {
    content: 'MENU';
    top: 0.7rem;
    right: 5.1rem;
    position: absolute;
    background-color: #31B0D5;
    color: #fff;
    text-align: center;
    padding: 6px 7px 5px 7px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 100; }
  .navbar-toggler.rotate-backwards:hover::after {
    content: '';
    position: absolute;
    top: 1.7rem;
    left: -1.3rem;
    height: 8px;
    width: 8px;
    padding: 3px 3px;
    background-color: #31B0D5;
    transform: rotate(-45deg);
    z-index: 101; }

.icon-bar {
  position: relative;
  background-color: #fff;
  height: 4px !important;
  margin-top: 3px;
  margin-bottom: 3px; }

.icon-bar:nth-child(1) {
  width: 43%;
  left: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.icon-bar:nth-child(2) {
  width: 99%;
  border-radius: 4px; }

.icon-bar:nth-child(3) {
  width: 43%;
  right: -50%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100; }
  .navbar .nav {
    position: relative;
    top: 0rem;
    left: -4.3rem;
    float: right;
    text-align: center; }
    .navbar .nav li#menu {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000; }
      .navbar .nav li#menu a.menu:hover {
        border-radius: 50%; }

.container.show-menu > .navbar .nav li#menu {
  background-color: #37c1eb;
  padding: 0px 0px !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 1000; }
  .container.show-menu > .navbar .nav li#menu a.menu {
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
    width: 40px; }
    .container.show-menu > .navbar .nav li#menu a.menu:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
      .container.show-menu > .navbar .nav li#menu a.menu:hover::before {
        position: absolute;
        background-color: #31B0D5;
        color: #fff;
        text-align: center;
        padding: 6px 7px 5px 7px;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
        z-index: 100; }
      .container.show-menu > .navbar .nav li#menu a.menu:hover::after {
        content: '';
        position: absolute;
        height: 8px;
        width: 8px;
        padding: 3px 3px;
        background-color: #31B0D5;
        transform: rotate(-45deg);
        z-index: 101; }
    .container.show-menu > .navbar .nav li#menu a.menu:focus {
      background-color: #31B0D5;
      border-radius: 50%; }
.container.show-menu > .navbar .nav li#menu:nth-child(1) {
  top: 0rem;
  left: -14.5rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .container.show-menu > .navbar .nav li#menu:nth-child(1) a.menu:hover::before {
    content: 'HOME';
    top: 1rem;
    right: 4.8rem; }
  .container.show-menu > .navbar .nav li#menu:nth-child(1) a.menu:hover::after {
    top: 2rem;
    left: -1.2rem; }
.container.show-menu > .navbar .nav li#menu:nth-child(2) {
  top: 4.8rem;
  left: -12.8rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .container.show-menu > .navbar .nav li#menu:nth-child(2) a.menu:hover::before {
    content: 'PROFILE';
    top: 4.8rem;
    left: -4rem; }
  .container.show-menu > .navbar .nav li#menu:nth-child(2) a.menu:hover::after {
    top: 4.4rem;
    left: 1rem; }
.container.show-menu > .navbar .nav li#menu:nth-child(3) {
  top: 9rem;
  left: -9.5rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .container.show-menu > .navbar .nav li#menu:nth-child(3) a.menu:hover::before {
    content: 'MEMBERS';
    top: 4.8rem;
    left: -4rem; }
  .container.show-menu > .navbar .nav li#menu:nth-child(3) a.menu:hover::after {
    top: 4.4rem;
    left: 1.5rem; }
.container.show-menu > .navbar .nav li#menu:nth-child(4) {
  top: 12rem;
  left: -5.1rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .container.show-menu > .navbar .nav li#menu:nth-child(4) a.menu:hover::before {
    content: 'ACCOUNTS';
    top: 4.8rem;
    left: -4rem; }
  .container.show-menu > .navbar .nav li#menu:nth-child(4) a.menu:hover::after {
    top: 4.4rem;
    left: 1.5rem; }
.container.show-menu > .navbar .nav li#menu:nth-child(5) {
  top: 13.9rem;
  left: 0rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .container.show-menu > .navbar .nav li#menu:nth-child(5) a.menu:hover::before {
    content: 'PAYMENTS';
    top: 4.8rem;
    left: -4rem; }
  .container.show-menu > .navbar .nav li#menu:nth-child(5) a.menu:hover::after {
    top: 4.4rem;
    left: 1.5rem; }

.container.hide-menu > .navbar .nav li#menu {
  background-color: #31B0D5;
  padding: 0px 0px !important;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 1000; }
.container.hide-menu > .navbar .nav li#menu > a.menu {
  background-color: #31B0D5;
  border-radius: 50%;
  color: #fff;
  padding-left: 4px;
  padding-right: 4px; }
.container.hide-menu > .navbar .nav li#menu:nth-child(1) {
  top: 0rem;
  left: 0.3rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.container.hide-menu > .navbar .nav li#menu:nth-child(2) {
  top: 0rem;
  left: 0.3rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.container.hide-menu > .navbar .nav li#menu:nth-child(3) {
  top: 0rem;
  left: 0.3rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.container.hide-menu > .navbar .nav li#menu:nth-child(4) {
  top: 0rem;
  left: 0.3rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
.container.hide-menu > .navbar .nav li#menu:nth-child(5) {
  top: 0rem;
  left: 0.3rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }

.profile-navbar-sub, .members-navbar-sub, .account-navbar-sub {
  position: relative;
  top: -4rem;
  right: 0;
  width: 100%;
  z-index: -1; }
  .profile-navbar-sub .profile-sub-menu, .profile-navbar-sub .members-sub-menu, .profile-navbar-sub .account-sub-menu, .members-navbar-sub .profile-sub-menu, .members-navbar-sub .members-sub-menu, .members-navbar-sub .account-sub-menu, .account-navbar-sub .profile-sub-menu, .account-navbar-sub .members-sub-menu, .account-navbar-sub .account-sub-menu {
    position: relative;
    top: 0.1rem;
    left: -4rem;
    float: right;
    text-align: center; }
    .profile-navbar-sub .profile-sub-menu li#sub, .profile-navbar-sub .members-sub-menu li#sub, .profile-navbar-sub .account-sub-menu li#sub, .members-navbar-sub .profile-sub-menu li#sub, .members-navbar-sub .members-sub-menu li#sub, .members-navbar-sub .account-sub-menu li#sub, .account-navbar-sub .profile-sub-menu li#sub, .account-navbar-sub .members-sub-menu li#sub, .account-navbar-sub .account-sub-menu li#sub {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10; }
      .profile-navbar-sub .profile-sub-menu li#sub a.sub:hover, .profile-navbar-sub .members-sub-menu li#sub a.sub:hover, .profile-navbar-sub .account-sub-menu li#sub a.sub:hover, .members-navbar-sub .profile-sub-menu li#sub a.sub:hover, .members-navbar-sub .members-sub-menu li#sub a.sub:hover, .members-navbar-sub .account-sub-menu li#sub a.sub:hover, .account-navbar-sub .profile-sub-menu li#sub a.sub:hover, .account-navbar-sub .members-sub-menu li#sub a.sub:hover, .account-navbar-sub .account-sub-menu li#sub a.sub:hover {
        border-radius: 50%; }

.hide-profile-submenu .profile-sub-menu li#sub, .hide-profile-submenu .members-sub-menu li#sub, .hide-profile-submenu .account-sub-menu li#sub, .hide-members-submenu .profile-sub-menu li#sub, .hide-members-submenu .members-sub-menu li#sub, .hide-members-submenu .account-sub-menu li#sub, .hide-account-submenu .profile-sub-menu li#sub, .hide-account-submenu .members-sub-menu li#sub, .hide-account-submenu .account-sub-menu li#sub {
  background-color: #37c1eb;
  padding: 0px 0px !important;
  height: 39px;
  width: 39px;
  border-radius: 50%; }
  .hide-profile-submenu .profile-sub-menu li#sub a.sub, .hide-profile-submenu .members-sub-menu li#sub a.sub, .hide-profile-submenu .account-sub-menu li#sub a.sub, .hide-members-submenu .profile-sub-menu li#sub a.sub, .hide-members-submenu .members-sub-menu li#sub a.sub, .hide-members-submenu .account-sub-menu li#sub a.sub, .hide-account-submenu .profile-sub-menu li#sub a.sub, .hide-account-submenu .members-sub-menu li#sub a.sub, .hide-account-submenu .account-sub-menu li#sub a.sub {
    color: #fff;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    z-index: -10; }
    .hide-profile-submenu .profile-sub-menu li#sub a.sub:hover, .hide-profile-submenu .members-sub-menu li#sub a.sub:hover, .hide-profile-submenu .account-sub-menu li#sub a.sub:hover, .hide-members-submenu .profile-sub-menu li#sub a.sub:hover, .hide-members-submenu .members-sub-menu li#sub a.sub:hover, .hide-members-submenu .account-sub-menu li#sub a.sub:hover, .hide-account-submenu .profile-sub-menu li#sub a.sub:hover, .hide-account-submenu .members-sub-menu li#sub a.sub:hover, .hide-account-submenu .account-sub-menu li#sub a.sub:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
    .hide-profile-submenu .profile-sub-menu li#sub a.sub:focus, .hide-profile-submenu .members-sub-menu li#sub a.sub:focus, .hide-profile-submenu .account-sub-menu li#sub a.sub:focus, .hide-members-submenu .profile-sub-menu li#sub a.sub:focus, .hide-members-submenu .members-sub-menu li#sub a.sub:focus, .hide-members-submenu .account-sub-menu li#sub a.sub:focus, .hide-account-submenu .profile-sub-menu li#sub a.sub:focus, .hide-account-submenu .members-sub-menu li#sub a.sub:focus, .hide-account-submenu .account-sub-menu li#sub a.sub:focus {
      background-color: #31B0D5;
      border-radius: 50%; }
.hide-profile-submenu .profile-sub-menu li#sub:nth-child(1), .hide-profile-submenu .members-sub-menu li#sub:nth-child(1), .hide-profile-submenu .account-sub-menu li#sub:nth-child(1), .hide-members-submenu .profile-sub-menu li#sub:nth-child(1), .hide-members-submenu .members-sub-menu li#sub:nth-child(1), .hide-members-submenu .account-sub-menu li#sub:nth-child(1), .hide-account-submenu .profile-sub-menu li#sub:nth-child(1), .hide-account-submenu .members-sub-menu li#sub:nth-child(1), .hide-account-submenu .account-sub-menu li#sub:nth-child(1) {
  top: 0rem;
  left: 0rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .hide-profile-submenu .profile-sub-menu li#sub:nth-child(1) a.sub, .hide-profile-submenu .members-sub-menu li#sub:nth-child(1) a.sub, .hide-profile-submenu .account-sub-menu li#sub:nth-child(1) a.sub, .hide-members-submenu .profile-sub-menu li#sub:nth-child(1) a.sub, .hide-members-submenu .members-sub-menu li#sub:nth-child(1) a.sub, .hide-members-submenu .account-sub-menu li#sub:nth-child(1) a.sub, .hide-account-submenu .profile-sub-menu li#sub:nth-child(1) a.sub, .hide-account-submenu .members-sub-menu li#sub:nth-child(1) a.sub, .hide-account-submenu .account-sub-menu li#sub:nth-child(1) a.sub {
    padding: 9px 12px; }
    .hide-profile-submenu .profile-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-profile-submenu .members-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-profile-submenu .account-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-members-submenu .profile-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-members-submenu .members-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-members-submenu .account-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-account-submenu .profile-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-account-submenu .members-sub-menu li#sub:nth-child(1) a.sub .fa:before, .hide-account-submenu .account-sub-menu li#sub:nth-child(1) a.sub .fa:before {
      content: ''; }
.hide-profile-submenu .profile-sub-menu li#sub:nth-child(2), .hide-profile-submenu .members-sub-menu li#sub:nth-child(2), .hide-profile-submenu .account-sub-menu li#sub:nth-child(2), .hide-members-submenu .profile-sub-menu li#sub:nth-child(2), .hide-members-submenu .members-sub-menu li#sub:nth-child(2), .hide-members-submenu .account-sub-menu li#sub:nth-child(2), .hide-account-submenu .profile-sub-menu li#sub:nth-child(2), .hide-account-submenu .members-sub-menu li#sub:nth-child(2), .hide-account-submenu .account-sub-menu li#sub:nth-child(2) {
  top: 0rem;
  left: 0rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .hide-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub, .hide-profile-submenu .members-sub-menu li#sub:nth-child(2) a.sub, .hide-profile-submenu .account-sub-menu li#sub:nth-child(2) a.sub, .hide-members-submenu .profile-sub-menu li#sub:nth-child(2) a.sub, .hide-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub, .hide-members-submenu .account-sub-menu li#sub:nth-child(2) a.sub, .hide-account-submenu .profile-sub-menu li#sub:nth-child(2) a.sub, .hide-account-submenu .members-sub-menu li#sub:nth-child(2) a.sub, .hide-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub {
    padding: 8px 12px; }
    .hide-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-profile-submenu .members-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-profile-submenu .account-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-members-submenu .profile-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-members-submenu .account-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-account-submenu .profile-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-account-submenu .members-sub-menu li#sub:nth-child(2) a.sub .fa:before, .hide-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub .fa:before {
      content: ''; }
.hide-profile-submenu .profile-sub-menu li#sub:nth-child(3), .hide-profile-submenu .members-sub-menu li#sub:nth-child(3), .hide-profile-submenu .account-sub-menu li#sub:nth-child(3), .hide-members-submenu .profile-sub-menu li#sub:nth-child(3), .hide-members-submenu .members-sub-menu li#sub:nth-child(3), .hide-members-submenu .account-sub-menu li#sub:nth-child(3), .hide-account-submenu .profile-sub-menu li#sub:nth-child(3), .hide-account-submenu .members-sub-menu li#sub:nth-child(3), .hide-account-submenu .account-sub-menu li#sub:nth-child(3) {
  top: 0rem;
  left: 0rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out; }
  .hide-profile-submenu .profile-sub-menu li#sub:nth-child(3) a.sub, .hide-profile-submenu .members-sub-menu li#sub:nth-child(3) a.sub, .hide-profile-submenu .account-sub-menu li#sub:nth-child(3) a.sub, .hide-members-submenu .profile-sub-menu li#sub:nth-child(3) a.sub, .hide-members-submenu .members-sub-menu li#sub:nth-child(3) a.sub, .hide-members-submenu .account-sub-menu li#sub:nth-child(3) a.sub, .hide-account-submenu .profile-sub-menu li#sub:nth-child(3) a.sub, .hide-account-submenu .members-sub-menu li#sub:nth-child(3) a.sub, .hide-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub {
    padding: 8px 12px; }
    .hide-profile-submenu .profile-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-profile-submenu .members-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-profile-submenu .account-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-members-submenu .profile-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-members-submenu .members-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-members-submenu .account-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-account-submenu .profile-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-account-submenu .members-sub-menu li#sub:nth-child(3) a.sub .fa:before, .hide-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub .fa:before {
      content: ''; }

.show-profile-submenu .profile-sub-menu li#sub {
  background-color: #37c1eb;
  padding: 0px 0px !important;
  height: 39px;
  width: 39px;
  border-radius: 50%; }
  .show-profile-submenu .profile-sub-menu li#sub a.sub.view, .show-profile-submenu .profile-sub-menu li#sub a.sub.edit {
    color: #fff;
    height: 39px;
    width: 39px;
    border-radius: 50%; }
    .show-profile-submenu .profile-sub-menu li#sub a.sub.view:hover, .show-profile-submenu .profile-sub-menu li#sub a.sub.edit:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
    .show-profile-submenu .profile-sub-menu li#sub a.sub.view:focus, .show-profile-submenu .profile-sub-menu li#sub a.sub.edit:focus {
      background-color: #31B0D5;
      border-radius: 50%; }
.show-profile-submenu .profile-sub-menu li#sub:nth-child(1) {
  top: 1rem;
  left: -8.5rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-profile-submenu .profile-sub-menu li#sub:nth-child(1) a.sub {
    padding: 9px 12px; }
    .show-profile-submenu .profile-sub-menu li#sub:nth-child(1) a.sub:hover::before {
      content: 'VIEW';
      position: absolute;
      top: 4.5rem;
      left: -0.5rem;
      background-color: #31B0D5;
      color: #fff;
      text-align: center;
      padding: 6px 7px 5px 7px;
      font-size: 12px;
      border-radius: 3px;
      box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
      z-index: 1001; }
    .show-profile-submenu .profile-sub-menu li#sub:nth-child(1) a.sub:hover::after {
      content: '';
      position: absolute;
      top: 4.2rem;
      left: 1.5rem;
      height: 8px;
      width: 8px;
      padding: 3px 3px;
      background-color: #31B0D5;
      transform: rotate(-45deg);
      z-index: 101; }
    .show-profile-submenu .profile-sub-menu li#sub:nth-child(1) a.sub .fa:before {
      content: '\f002'; }
.show-profile-submenu .profile-sub-menu li#sub:nth-child(2) {
  top: 6.5rem;
  left: -4.5rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub {
    padding: 10px 14px; }
    .show-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
      .show-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub:hover::before {
        content: 'EDIT';
        top: 4.5rem;
        left: -1rem;
        width: 50px;
        position: absolute;
        background-color: #31B0D5;
        color: #fff;
        text-align: center;
        padding: 6px 7px 5px 7px;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
        z-index: 100; }
      .show-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub:hover::after {
        content: '';
        top: 4.2rem;
        left: 1.5rem;
        position: absolute;
        height: 8px;
        width: 8px;
        padding: 3px 3px;
        background-color: #31B0D5;
        transform: rotate(-45deg);
        z-index: 101; }
    .show-profile-submenu .profile-sub-menu li#sub:nth-child(2) a.sub .fa:before {
      content: '\f044'; }

.show-members-submenu .members-sub-menu li#sub {
  background-color: #37c1eb;
  padding: 0px 0px !important;
  height: 39px;
  width: 39px;
  border-radius: 50%; }
  .show-members-submenu .members-sub-menu li#sub a.sub.add, .show-members-submenu .members-sub-menu li#sub a.sub.view {
    color: #fff;
    height: 39px;
    width: 39px;
    border-radius: 50%; }
    .show-members-submenu .members-sub-menu li#sub a.sub.add:hover, .show-members-submenu .members-sub-menu li#sub a.sub.view:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
    .show-members-submenu .members-sub-menu li#sub a.sub.add:focus, .show-members-submenu .members-sub-menu li#sub a.sub.view:focus {
      background-color: #31B0D5;
      border-radius: 50%; }
.show-members-submenu .members-sub-menu li#sub:nth-child(1) {
  top: 2.3rem;
  left: -7.8rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-members-submenu .members-sub-menu li#sub:nth-child(1) a.sub {
    padding: 9px 13px; }
    .show-members-submenu .members-sub-menu li#sub:nth-child(1) a.sub:hover::before {
      content: 'ADD NEW';
      position: absolute;
      top: 4.5rem;
      left: -2rem;
      width: 75px;
      background-color: #31B0D5;
      color: #fff;
      text-align: center;
      padding: 6px 7px 5px 7px;
      font-size: 12px;
      border-radius: 3px;
      box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
      z-index: 100; }
    .show-members-submenu .members-sub-menu li#sub:nth-child(1) a.sub:hover::after {
      content: '';
      position: absolute;
      top: 4.2rem;
      left: 1.5rem;
      height: 8px;
      width: 8px;
      padding: 3px 3px;
      background-color: #31B0D5;
      transform: rotate(-45deg);
      z-index: 101; }
    .show-members-submenu .members-sub-menu li#sub:nth-child(1) a.sub .fa:before {
      content: '\f234'; }
.show-members-submenu .members-sub-menu li#sub:nth-child(2) {
  top: 7rem;
  left: -2.9rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub {
    padding: 9px 13px; }
    .show-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
      .show-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub:hover::before {
        content: 'VIEW ALL';
        top: 4.5rem;
        left: -2rem;
        width: 75px;
        position: absolute;
        background-color: #31B0D5;
        color: #fff;
        text-align: center;
        padding: 6px 7px 5px 7px;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
        z-index: 100; }
      .show-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub:hover::after {
        content: '';
        top: 4.2rem;
        left: 1.5rem;
        position: absolute;
        height: 8px;
        width: 8px;
        padding: 3px 3px;
        background-color: #31B0D5;
        transform: rotate(-45deg);
        z-index: 101; }
    .show-members-submenu .members-sub-menu li#sub:nth-child(2) a.sub .fa:before {
      content: '\f06e'; }

.show-account-submenu .account-sub-menu li#sub {
  background-color: #37c1eb;
  padding: 0px 0px !important;
  height: 39px;
  width: 39px;
  border-radius: 50%; }
  .show-account-submenu .account-sub-menu li#sub a.sub.view, .show-account-submenu .account-sub-menu li#sub a.sub.add, .show-account-submenu .account-sub-menu li#sub a.sub.out {
    color: #fff;
    height: 39px;
    width: 39px;
    border-radius: 50%; }
    .show-account-submenu .account-sub-menu li#sub a.sub.view:hover, .show-account-submenu .account-sub-menu li#sub a.sub.add:hover, .show-account-submenu .account-sub-menu li#sub a.sub.out:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
    .show-account-submenu .account-sub-menu li#sub a.sub.view:focus, .show-account-submenu .account-sub-menu li#sub a.sub.add:focus, .show-account-submenu .account-sub-menu li#sub a.sub.out:focus {
      background-color: #31B0D5;
      border-radius: 50%; }
.show-account-submenu .account-sub-menu li#sub:nth-child(1) {
  top: 4rem;
  left: -7.3rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-account-submenu .account-sub-menu li#sub:nth-child(1) a.sub {
    padding: 9px 13px; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(1) a.sub:hover::before {
      content: 'ADD USER';
      position: absolute;
      top: 4.5rem;
      left: -3rem;
      width: 80px;
      background-color: #31B0D5;
      color: #fff;
      text-align: center;
      padding: 6px 7px 5px 7px;
      font-size: 12px;
      border-radius: 3px;
      box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
      z-index: 100; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(1) a.sub:hover::after {
      content: '';
      position: absolute;
      top: 4.2rem;
      left: 1.5rem;
      height: 8px;
      width: 8px;
      padding: 3px 3px;
      background-color: #31B0D5;
      transform: rotate(-45deg);
      z-index: 101; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(1) a.sub .fa:before {
      content: '\f234'; }
.show-account-submenu .account-sub-menu li#sub:nth-child(2) {
  top: 7.5rem;
  left: -1.2rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub {
    padding: 10px 12px; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
      .show-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub:hover::before {
        content: 'VIEW';
        top: 4.5rem;
        left: -0.5rem;
        position: absolute;
        background-color: #31B0D5;
        color: #fff;
        text-align: center;
        padding: 6px 7px 5px 7px;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
        z-index: 100; }
      .show-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub:hover::after {
        content: '';
        top: 4.2rem;
        left: 1.5rem;
        position: absolute;
        height: 8px;
        width: 8px;
        padding: 3px 3px;
        background-color: #31B0D5;
        transform: rotate(-45deg);
        z-index: 101; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(2) a.sub .fa:before {
      content: '\f002'; }
.show-account-submenu .account-sub-menu li#sub:nth-child(3) {
  top: 9.5rem;
  left: 5.2rem;
  transition: top, left;
  transition-delay: 0.5ms;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3); }
  .show-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub {
    padding: 10px 14px; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub:hover {
      background-color: #31B0D5;
      border-radius: 50%; }
      .show-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub:hover::before {
        content: 'LOGOUT';
        top: 4.5rem;
        left: -2rem;
        position: absolute;
        background-color: #31B0D5;
        color: #fff;
        text-align: center;
        padding: 6px 7px 5px 7px;
        font-size: 12px;
        border-radius: 3px;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
        z-index: 100; }
      .show-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub:hover::after {
        content: '';
        top: 4.2rem;
        left: 1.5rem;
        position: absolute;
        height: 8px;
        width: 8px;
        padding: 3px 3px;
        background-color: #31B0D5;
        transform: rotate(-45deg);
        z-index: 101; }
    .show-account-submenu .account-sub-menu li#sub:nth-child(3) a.sub .fa:before {
      content: '\f08b'; }

.community-name {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 4em;
  font-weight: bolder;
  color: #c5c5c5; }

.members-information {
  margin-top: 75px;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 30px 40px 30px !important; }
  .members-information form input {
    background-color: transparent;
    height: 30px; }
  .members-information form .form-group > .col {
    margin-top: 10px; }
    .members-information form .form-group > .col label {
      position: absolute;
      top: 1.7rem;
      left: 1.5rem;
      color: #a09e9e;
      font-weight: normal;
      font-size: 15px;
      letter-spacing: 0.07rem;
      cursor: text;
      transition: top;
      transition-delay: 0.5ms;
      transition-duration: 0.2s;
      transition-timing-function: ease-out; }
  .members-information form .form-group > .col.slide-up label {
    letter-spacing: 0.04rem;
    font-size: 12px;
    top: -0.1rem;
    transition: top;
    transition-delay: 0.5ms;
    transition-duration: 0.2s;
    transition-timing-function: ease-out; }
  @media screen and (max-width: 768px) {
    .members-information form .row:nth-child(2) {
      margin-top: -15px; }
    .members-information form .row:nth-child(3) {
      margin-top: 10px; }
    .members-information form .row:nth-child(4) {
      margin-top: -5px; }
    .members-information form .row:nth-child(5) {
      margin-top: -15px; }
    .members-information form .row:nth-child(8) {
      margin-top: 7px; }
    .members-information form .row:nth-child(9) {
      margin-top: -12px; }
    .members-information .form-group > .col label#fn, .members-information .form-group > .col label#emp, .members-information .form-group > .col label#home, .members-information .form-group > .col label#contact_ns {
      top: 0.5rem; }
    .members-information .form-group > .col.slide-up label {
      top: -0.3rem; }
    .members-information .form-group > .col.slide-up label#fn, .members-information .form-group > .col.slide-up label#emp, .members-information .form-group > .col.slide-up label#home, .members-information .form-group > .col.slide-up label#contact_ns {
      top: -1rem; } }
  @media screen and (max-width: 414px) {
    .members-information form .row:nth-child(2) {
      margin-top: -13px; }
      .members-information form .row:nth-child(2) .col-sm-4 {
        padding-top: 1px; }
    .members-information form .row:nth-child(3) {
      margin-top: -5px; }
    .members-information form .row:nth-child(4) {
      margin-top: -5px; }
    .members-information form .row:nth-child(5) {
      margin-top: -13px; }
      .members-information form .row:nth-child(5) .col-sm-6 {
        padding-top: 1px; }
    .members-information form .row:nth-child(6) {
      margin-top: -5px; }
    .members-information form .row:nth-child(7) .col-sm-6 {
      padding-top: 1px; }
    .members-information form .row:nth-child(8) {
      margin-top: -5px; }
    .members-information form .row:nth-child(9) .col-sm-6 {
      padding-top: 1px; }
    .members-information form .row:nth-child(10) {
      margin-top: -15px; }
      .members-information form .row:nth-child(10) .col-sm-6 {
        padding-top: 1px; }
    .members-information form .row:nth-child(12) .col-sm-6 {
      padding-top: 1px; }
    .members-information form .row:nth-child(13) {
      margin-top: -15px; }
      .members-information form .row:nth-child(13) .col-sm-6 {
        padding-top: 1px; }
    .members-information form .row:nth-child(15) .col-sm-6 {
      padding-top: 1px; }
    .members-information form .row:nth-child(17) .col-sm-6 {
      padding-top: 1px; }
    .members-information form .row:nth-child(18) {
      margin-top: -15px; }
      .members-information form .row:nth-child(18) .col-sm-6 {
        padding-top: 1px; }
    .members-information form .row:nth-child(19) {
      margin-top: -15px; }
      .members-information form .row:nth-child(19) .col-sm-6 {
        padding-top: 1px; }
    .members-information form .row:nth-child(21) .col-sm-4 {
      padding-top: 1px; }
    .members-information .form-group > .col label {
      font-size: 14px !important; }
    .members-information .form-group > .col label#citizen {
      top: 0.5rem; }
    .members-information .form-group > .col.slide-up label {
      top: -0.3rem; }
    .members-information .form-group > .col.slide-up label#citizen {
      top: -1rem; } }

.text-label {
  font-weight: 100;
  margin-top: 25px;
  font-size: 17px !important;
  color: #6e6e6e !important;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.05rem; }

.form-heading {
  color: #6e6e6e !important;
  margin-bottom: 35px;
  margin-top: 25px; }

.checkbox, .text-certify {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px; }

.text-certify {
  left: 1rem;
  top: -2.9rem;
  font-size: 16px; }

select[name="user_type"] > option {
  padding-left: 0px !important;
  padding-right: 0px !important; }

select[name="user_type"] {
  height: 35px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: 15px !important;
  margin-top: 10px !important;
  letter-spacing: 0.07rem; }

input, select {
  height: 35px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 15px !important;
  margin-top: 10px !important;
  letter-spacing: 0.07rem; }

.btn {
  margin-top: 25px;
  border-radius: 1px !important;
  height: 40px;
  border-radius: calc(40px / 2) !important; }

a.btn-info {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  margin-left: 0.01rem; }

.sign-in {
  background-color: #263238;
  height: 100vh; }
  .sign-in h3, .sign-in h5 {
    letter-spacing: 0.07rem;
    color: #666565; }
  .sign-in h3 {
    font-weight: bolder;
    font-family: 'Montserrat';
    color: darkorange;
    cursor: pointer; }
  .sign-in h5 {
    margin-top: 30px;
    padding-bottom: 10px; }
  .sign-in .border {
    margin-top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px; }
  .sign-in form {
    margin-top: 30px; }
    .sign-in form input {
      background-color: transparent;
      height: 30px;
      color: #fff;
      letter-spacing: 0.07rem; }
    .sign-in form .user > .form-group {
      margin-bottom: -5px; }
      .sign-in form .user > .form-group label {
        position: relative;
        top: 4.2rem;
        left: 0;
        color: #a09e9e;
        font-weight: normal;
        letter-spacing: 0.1rem;
        cursor: text;
        transition: top;
        transition-delay: 0.5ms;
        transition-duration: 0.2s;
        transition-timing-function: ease-out; }
    .sign-in form .user > .form-group.slide-up label {
      top: 2rem;
      transition: top;
      transition-delay: 0.5ms;
      transition-duration: 0.2s;
      transition-timing-function: ease-out; }
    .sign-in form button {
      margin-top: 60px;
      margin-bottom: 10px;
      letter-spacing: 0.07rem;
      border-radius: 20px; }
  .sign-in p {
    letter-spacing: 0.05rem;
    margin-top: 40px;
    color: #838383; }

.members-list .table-wrapper .dataTables_wrapper, .users-list .table-wrapper .dataTables_wrapper {
  padding-top: 40px !important;
  padding-bottom: 40px; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_length select, .users-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_length select {
    margin-top: 0px !important;
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    height: 36px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 1px;
    font-size: 15px; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_length label, .users-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_length label {
    color: #a09e9e;
    font-weight: normal;
    letter-spacing: 0.1rem; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_filter input, .users-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_filter input {
    margin-top: 0px !important;
    border-top: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    height: 40px;
    background-color: transparent; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_filter label, .users-list .table-wrapper .dataTables_wrapper .col-sm-6 .dataTables_filter label {
    color: #a09e9e;
    font-weight: normal;
    letter-spacing: 0.1rem; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-5 .dataTables_info, .users-list .table-wrapper .dataTables_wrapper .col-sm-5 .dataTables_info {
    color: #a09e9e; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button, .users-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button {
    background-color: #48cdf5;
    height: 40px;
    border-radius: 1px;
    padding-top: 2px;
    border: 1px solid #33afd4 !important; }
    .members-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button.active, .users-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button.active {
      background-color: #1e9fc7 !important;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e9fc7), color-stop(100%, #187692)) !important;
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #1e9fc7 0%, #187692 100%) !important;
      /* Chrome10+,Safari5.1+ */
      background: -moz-linear-gradient(top, #1e9fc7 0%, #187692 100%) !important;
      /* FF3.6+ */
      background: -ms-linear-gradient(top, #1e9fc7 0%, #187692 100%) !important;
      /* IE10+ */
      background: -o-linear-gradient(top, #1e9fc7 0%, #187692 100%) !important;
      /* Opera 11.10+ */
      background: linear-gradient(to bottom, #1e9fc7 0%, #187692 100%) !important;
      /*  W3C  */ }
      .members-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button.active:hover, .users-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button.active:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64d6f8), color-stop(100%, #1e9fc7)) !important;
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
        /* IE10+ */
        background: -o-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #64d6f8 0%, #1e9fc7 100%) !important;
        /*  W3C  */ }
    .members-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button a, .users-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .pagination .paginate_button a {
      background-color: transparent;
      letter-spacing: 0.07rem;
      border: none;
      color: #fff;
      text-transform: uppercase;
      outline: none; }
  .members-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .paginate_button:hover, .users-list .table-wrapper .dataTables_wrapper .col-sm-7 .dataTables_paginate .paginate_button:hover {
    color: white !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64d6f8), color-stop(100%, #1e9fc7)) !important;
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
    /* IE10+ */
    background: -o-linear-gradient(top, #64d6f8 0%, #1e9fc7 100%) !important;
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #64d6f8 0%, #1e9fc7 100%) !important;
    /*  W3C  */ }
.members-list table, .users-list table {
  border-top: 1px solid rgba(0, 0, 0, 0.8); }
  .members-list table thead, .users-list table thead {
    background-color: #48cdf5;
    color: #fff;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    height: 40px; }
    .members-list table thead tr > td:last-child, .users-list table thead tr > td:last-child {
      text-align: center; }
  .members-list table tbody > tr > td, .users-list table tbody > tr > td {
    letter-spacing: 0.07rem; }
    .members-list table tbody > tr > td .btn, .users-list table tbody > tr > td .btn {
      margin-top: 0px;
      height: 22px;
      border-radius: 1px !important; }
    .members-list table tbody > tr > td a:nth-child(2), .members-list table tbody > tr > td a:nth-child(4), .users-list table tbody > tr > td a:nth-child(2), .users-list table tbody > tr > td a:nth-child(4) {
      margin-left: -2px; }
    .members-list table tbody > tr > td a:nth-child(3), .users-list table tbody > tr > td a:nth-child(3) {
      margin-left: -1px; }
  .members-list table tbody > tr > td:first-child, .members-list table tbody > tr > td:last-child, .users-list table tbody > tr > td:first-child, .users-list table tbody > tr > td:last-child {
    text-align: center; }
@media screen and (max-width: 1199px) {
  .members-list .table-wrapper, .users-list .table-wrapper {
    overflow-x: auto; }
  .members-list .table-wrapper::-webkit-scrollbar-track, .users-list .table-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 0px; }
  .members-list .table-wrapper::-webkit-scrollbar, .users-list .table-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #fff; }
  .members-list .table-wrapper::-webkit-scrollbar-thumb, .users-list .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #48CDF5;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    border-radius: 1px; } }
@media screen and (max-width: 767px) {
  .members-list table, .users-list table {
    width: 1000px; } }

.modal .modal-content {
  border-radius: 3px; }
  .modal .modal-content .modal-header h3 {
    display: inline-block;
    margin-left: 10px;
    color: darkorange !important;
    letter-spacing: 0.07rem;
    text-transform: uppercase; }
  .modal .modal-content .modal-header button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    height: 20px;
    width: 20px;
    font-size: 15px;
    padding-bottom: 2px;
    color: #41423D !important;
    font-weight: normal !important;
    outline: none !important; }
    .modal .modal-content .modal-header button:hover {
      border-radius: 20px !important;
      color: #fff !important;
      text-shadow: none !important; }
  .modal .modal-content .modal-body {
    padding: 10px 30px;
    margin-bottom: 50px; }
    .modal .modal-content .modal-body .form-group {
      margin-top: 10px; }
      .modal .modal-content .modal-body .form-group label {
        font-weight: 100;
        letter-spacing: 0.07rem; }
      .modal .modal-content .modal-body .form-group input {
        top: -5px; }
    .modal .modal-content .modal-body button {
      margin-top: 30px;
      background-color: #48CDF5;
      color: #fff;
      letter-spacing: 0.07rem; }
      .modal .modal-content .modal-body button:hover {
        background-color: #3bbae0; }

p.developer {
  letter-spacing: 0.05rem;
  margin-top: 40px;
  color: #838383; }

@media screen and (max-width: 767px) {
  #myNavbar {
    margin-top: -1px; }

  .navbar-brand {
    top: 0rem;
    left: 1.5rem; }

  .navbar-toggler {
    left: 3.3rem;
    top: 0rem; }

  .navbar .nav {
    position: relative;
    top: -5rem;
    left: -2.6rem;
    float: right;
    text-align: center; }
    .navbar .nav li {
      position: absolute;
      top: 0;
      left: 0; }

  .profile-navbar-sub, .members-navbar-sub, .account-navbar-sub {
    position: relative;
    top: 1.1rem;
    left: -1.3rem; }

  .sign-in {
    margin-top: -50px; }

  .members-list > .table-wrapper {
    overflow-x: scroll; }

  .dataTables_wrapper table tr td .btn {
    display: inline; } }

/*# sourceMappingURL=style.css.map */
